html,
body {
    /* To make sure that the background image covers the whole screen */
    height: 100%;
}

body {
    /* Always set a background-color to use if the image is unavailable */
    background-color: lightblue;
}

.bg {
    /* The background image used */
    background-image: url("../img/AbstractSmoothWaveBackground.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Always give the maps a height or they won't display */

#map {
    height: 500px;
}

#street-view-map,
#pano {
    float: left;
    height: 30vw;
    width: 50%;
}
